web.port=7999
web.api.prefix=/api

secret.key=cXdlMnF3ZTIxd2UyMWUycXdlMnF3ZTIxd2UyMWUy

db.host=localhost
db.port=5432
db.name=basic_service
db.username=username
db.password=password

build.admin.username=admin
build.admin.password=admin
build.admin.name=Administrator
build.setting.register.mode=Code
build.setting.token.effective.max=
build.setting.token.effective.default=86400000

static.cover.prefix=/static/cover
static.cover.directory=./cover-upload