web.port=8000
web.api.prefix=/api

secret.key=${SECRET_KEY}

db.host=${DB_HOST}
db.port=${DB_PORT}
db.name=${DB_DATABASE}
db.username=${DB_USERNAME}
db.password=${DB_PASSWORD}

build.admin.username=admin
build.admin.password=admin
build.admin.name=Administrator
build.setting.register.mode=Code
build.setting.token.effective.max=
build.setting.token.effective.default=86400000

static.cover.prefix=/static/cover
static.cover.directory=${COVER_UPLOAD_DIRECTORY}